/*Nav Bar*/

#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 2;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  padding-right: 10px;
}

#nav-bar .header {
  float: left;
  font-size:  2em;
  line-height: 80px;
}

#nav-bar button {
  font-size: 1.2em;
  height: 60px;
  width: 120px;
  float: right;
  margin-top: 10px;
  margin-right: 180px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: #00a087;
  opacity: 0.8;
}

#nav-bar button:hover {
  font-size: 1.2em;
  height: 60px;
  width: 120px;
  float: right;
  margin-top: 10px;
  margin-right: 180px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  opacity: 1;
}

