*, *:before, *:after {
  box-sizing: border-box;
}

.new-tweet {
  background-color: #eee;
  border: 1px solid silver;
  border-radius: 5px;
  margin-right: 2em;
  padding: 0 10px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.new-tweet textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.new-tweet form {
  padding-bottom: 10px;
}

.new-tweet .counter {
  font-size: 0.75em;
  font-weight: 500;
  font-style: italic;
  float: right;
  margin-top: 4px;
  padding-right: 8px;
  color: black;
}

.new-tweet .valid {
  font-size: 0.75em;
  font-weight: 500;
  font-style: italic;
  float: right;
  margin-top: 4px;
  padding-right: 8px;
  color: red;
}

/* ----------------- user tweets -----------------*/

#tweets {
  margin-top: 10px;
  background-color: white;
  margin-right: 2em;
/*  height: 195px;*/

}

/* ------------- tweet ---------------*/

.tweet {
  margin-top: 10px;
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  height: 195px;
  opacity: 0.75;

  transition: border-color .5s linear;
}

#tweets .hover {
  margin-top: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 195px;
  opacity: 1;
}


.tweet__header {
  height: 70px;
  background-color: #eee;
  clear: both;
}

#tweets .tweet header h2 {
  display: inline;
  float: left;
  margin-top: 8px;
}

#tweets .tweet header img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  float: left;
  margin: 8px 10px;
  clear: both;
}

#tweets .tweet header span {
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}

#tweets .tweet article {
  border-bottom: 1px solid #eee;
}

#tweets .tweet article p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
}

#tweets .tweet footer {
  height: 20px;
}

#tweets .tweet footer p {
  font-size: .75em;
  margin-top: 15px;
  margin-left: 5px;
}

.tweet__footer {
  position: relative;
}

.tweet__icons {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition:  opacity .5s linear;
}
/*.tweet:hover .tweet__icons,
.tweet__icons--hover {
  opacity: 1;
}*/
.tweet--hover  {
  border-color: black;
  border-width: 2px;
}
.tweet--hover .tweet__icons {
  opacity: 1;
}





